.arrange-panel {
    display: flex;
    justify-content: space-between;
    align-content: center;

    &__left-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }

    &__right-btns {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}