.btn-show-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    box-sizing: content-box;
    z-index: 1;

    &:hover {
        background-color: #909090;
    }
}