.win-create-f {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 29%;
    width: 700px;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 3;
}