.option-load-files {
    margin-bottom: 5px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    word-break: break-all;

    &__wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    &__input {
        display: none;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        column-gap: 8px;
        cursor: pointer;
    }

    &__img {
        width: 20px;
        height: 20px;
    }

    &__title {
        max-width: 200px;
        font-size: 500;
        font-size: 17px;
        line-height: calc(100% + 4px);
        height: calc(100% - 8px);
        color: #000;
        word-break: break-all;
    }
}

.option-load-files:hover {
    background-color: #dad9d9;
}